<!doctype html>
<html class="no-js" lang="en">
<head>
  <!-- Meta's -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Lille AJAX og AngularJS Demo side.</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

  <!-- Egen CSS -->
  <style>
    .small-image { width: 50px; }
  </style>

  <!-- Modernizr.js er eneste JS i Head, fordi Head JS block'er browser. -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
</head>
<body ng-app="app">


<!-- Externe JS libs -->
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>

<!-- Egen JS -->
<script src="js/main.js"></script>


<!-- Body Indhold -->
<div class="container" ng-controller="reposController">
  
  <div class="col-md-6 col-md-offset-3">
    <div class="form-group">
      <br>
         <label for="github-Handle">Enter Github Username for e.g. "CyanogenMod"</label>
         <input class="form-control" id="githubUsername" placeholder="Enter Username" />
    </div>
    <button class="btn btn-primary pull-right" ng-click="renderByAngularJS()">Get Detailsby AngularJS </button>
    <button class="btn btn-primary pull-left" onClick="renderByPlainJS()">Get Details By Plain Javscript</button>
  
  </div>
  
  <div class="col-xs-12 col-md-6">
    <h1>'Ren' Javascript</h1>
    <hr>
    <h2>Repos</h2>
    <div id="plain-js-hook">
    </div>
  </div>

  <div class="col-xs-12 col-md-6">
    <div>
      <div>
        <h1>Med AngularJS</h1>
        <hr>
        <h2>{{title}}</h2>
        <div class="well" ng-repeat="item in users">
          <h3><a href="{{item.url}}">{{item.name}}</a></h3>
          <p>
            <strong>Owner: </strong><a href="{{item.owner.html_url}}">{{item.owner.login}}</a>
            <img ng-src=" {{item.owner.avatar_url}}" alt="" class="pull-right small-image"><br>
            <strong>Updated at: </strong>{{item.pushed_at}}</br>
            <span class="label label-primary">{{item.language}}</span>
          </p>
        </div>
      </div>
    </div>
  </div>

  <hr>
  
</div><!-- /container -->

</body>
</html>
